body {
  font-size: 30px
}

img {
  display: inline-block;
}

body {
  position: absolute;
  text-align:center;
  left:25%;
  right: 25%;
  background-color: #AFEEEE;
  border: solid 2px #000080;
  padding: 50px;
}

#button {

}


#femaleOutfit {
  transform: scale(2);
  width: 30px;
}

#maleOutfit {
  transform: scale(2);
  width: 30px;
}

/*#F_outfit {
  display: ;
}

#M_outfit {
  display: block;
}*/
